* {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: none;
    font-smoothing: antialiased;
    outline: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Roboto Mono', monospace;
}

input,
textarea,
select,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline:none;
    border:none;
    border-radius: 0;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    height: auto;
}

a, 
a:active, 
a:focus, 
a:hover, 
a:visited {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.desktop {
    display: none !important;
    @media (min-width:992px) {
        display: inline-block !important;
    }
}
.mobile {
    display: inline-block !important;
    @media (min-width:992px) {
        display: none !important;
    }
}
.disable-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.thewall {
    display: none;
    opacity: 0;
}
.bgwhite {
    background: #ffffff !important;
}

$spacing: 10px;

@import "components/flex";
@import "components/fonts";
@import "components/typography";
@import "components/colors";
@import "components/buttons";
@import "components/headers";
@import "components/card";
@import "components/fighter-card";
@import "components/inputs";
@import "components/tabs";
@import "components/schedule-card";
@import "components/tooltip";

@import "modules/header";
@import "modules/footer";
@import "modules/hero";
@import "modules/hero-fighter";
@import "modules/hero-alt";
@import "modules/slider";
@import "modules/subscribe";
@import "modules/search";
@import "modules/popup";
@import "modules/images";
@import "modules/brackets";
@import "modules/stats-card";
@import "modules/stats-modal";

@import "pages/home";
@import "pages/home-pre-fight";
@import "pages/fighters";
@import "pages/fighter-single";
@import "pages/schedule";
@import "pages/ranking";
@import "pages/videos";
@import "pages/video-single";
@import "pages/news";
@import "pages/news-single";
@import "pages/about";
@import "pages/bracket-challenge";
@import "pages/contact";
@import "pages/live-stats";
