.about-page {
    .content {
        background: $darkestblue;
        .main-heading {
            position: relative;
            height: 50vh;
            min-height: 200px;
            width: 100%;
            color: $white;
            @media (min-width: 992px) {
                min-height: 700px;
            }
            .background {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    min-height: 200px;
                    background-image: linear-gradient(0deg, #081228 30%, rgba(8, 18, 40, 0.00) 100%);
                }
            }
            .wrapper {
                position: relative;
                @include flex;
                @include align-center;
                @include justify-center;
                @include direction-col;
                height: 100%;
                width: 100%;
                h1 {
                    padding: 0 0 $spacing*1.6 0;
                    font-size: 34px;
                    line-height: 32px;
                    text-align: center;
                    @media (min-width: 768px) {
                        font-size: 56px;
                        line-height: 46px;
                    }
                    @media (min-width:992px) {
                        font-size: 96px;
                        line-height: 76px;
                    }
                }
                h4 {
                    padding: 0 $spacing;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 22px;
                    text-align: center;
                    @media(min-width:768px) {
                        font-size: 24px;                        
                    }
                }
            }
        }
        .sub-content {
            color: $white;
            .wrapper {
                max-width: 940px;
                margin: 0 auto;
                padding: $spacing;
                p {
                    margin: $spacing*1.6 0;
                    font-size: 16px;
                }
                .employee-wrap {
                    position: relative;
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .info {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: $spacing*2.4;
                        h2 {
                            font-size: 34px;
                            line-height: 24px;
                            text-transform: uppercase;
                            @media (min-width: 768px) {
                                font-size: 45px;
                                line-height: 35px;
                            }
                        }
                        h3 {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            @media (min-width: 768px) {
                                font-size: 24px;
                            }
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(-1deg, rgba(12, 0, 51, 0.50) 0%, rgba(12, 0, 51, 0.00) 50%);
                    }
                }
            }
        }
    }
}