.bracket-challenge-page {
    .hero {
        .heading {
            max-width: 460px;
            .wrap {
                .copa-logo {
                    text-align: center;
                }
            }
            .subtext {
                margin-top: $spacing*1.6;
                text-align: center;
                p {
                    font-weight: normal;
                    font-size: 20px;
                    color: $white;
                    line-height: 30px;
                }
            }
        }
    }
    .content {
        background: $darkestblue;
        float: left;
        width: 100%;
        .brackets {
            &.challenge {
                .round-bracket-container {
                    .rounds {
                        .round {
                            .fight {
                                .bracket-card {
                                    cursor: pointer;
                                    &.copied {
                                        animation-name: leFadeIn;
                                    }
                                    .left {
                                        .image {   
                                            width: 100%;
                                            height: 50px;
                                            overflow: hidden;
                                            img {
                                                display: block;
                                                width: 200%;
                                                margin-left: -50%;
                                                margin-top: -7px;
                                            }
                                        }
                                        .details {
                                            overflow: hidden;
                                            height: 22px;
                                            .vote,
                                            .pick {
                                                display: none !important;
                                            }
                                        }
                                        .hidden {
                                            display: none !important;
                                        }
                                    }
                                }
                                &.selected {
                                    .bracket-card {
                                        &:not(.selected) {
                                            opacity: .4;
                                        }
                                        &.selected {
                                            .left {
                                                .details {
                                                    .vote {
                                                        display: none !important;
                                                    }
                                                    .pick {
                                                        @include flex;
                                                        width: 50%;
                                                        img {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
    &.open {
        .content {
            .brackets {
                &.challenge {
                    .round-bracket-container {
                        .rounds {
                            .round {
                                .fight {
                                    .bracket-card {                                   
                                        &.copied {
                                            * {
                                                -webkit-animation: lefadein 0.5s; /* Safari 4+ */
                                                -moz-animation:    lefadein 0.5s; /* Fx 5+ */
                                                -o-animation:      lefadein 0.5s; /* Opera 12+ */
                                                animation:         lefadein 0.5s; /* IE 10+, Fx 29+ */
                                            }
                                        }
                                        &:hover {
                                            opacity: 1 !important;
                                            .left {
                                                .details {
                                                    .vote {
                                                        @include flex;
                                                    }
                                                }
                                            }
                                        }
                                        &.rfinal {
                                            &:after {
                                                content: "Winner";
                                                position: absolute;

                                            }
                                        }
                                    }
                                    .bracket-card.selected {
                                        &:hover {
                                            opacity: 1 !important;
                                            .left {
                                                .details {
                                                    .vote {
                                                        display: none !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}


.live-stats .content {
    padding: 50px 0;
    iframe {
        margin-bottom: 50px;
    }
}

@-webkit-keyframes lefadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes lefadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes lefadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes lefadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}