.contact-page {
    .content {
        background: $darkestblue;
        .main-heading {
            position: relative;
            height: 50vh;
            min-height: 200px;
            width: 100%;
            color: $white;
            @media (min-width:992px) {
                min-height: 700px;
            }
            .background {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    opacity: 0.6;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    min-height: 200px;
                    background-image: linear-gradient(0deg, #081228 30%, rgba(8, 18, 40, 0.00) 100%);
                }
            }
            .wrapper {
                position: relative;
                @include flex;
                @include align-center;
                @include justify-center;
                height: 100%;
                width: 100%;
                h1 {
                    padding: 0 0 $spacing 0;
                    font-size: 34px;
                    line-height: 24px;
                    border-bottom: 4px solid $yellow;
                    @media (min-width: 768px) {
                        padding: 0;
                        font-size: 56px;
                        line-height: 46px;
                        border-bottom: 8px solid $yellow;
                    }
                    @media (min-width:992px) {
                        font-size: 96px;
                        line-height: 76px;
                        border-bottom: 16px solid $yellow;
                    }
                }
            }
        }
        .sub-content {
            color: $white;
            background: $darkestblue;
            padding-bottom: $spacing*6;
            .wrapper {
                max-width: 1180px;
                margin: 0 auto;
                .contact-section {
                    padding: $spacing;
                    background: $notblack;
                    @include flex;
                    @include direction-col;
                    .form {
                        padding: $spacing*6 $spacing*1.6;
                        background: $white;
                        input, textarea {
                            display: block;
                            font-weight: normal;
                            font-size: 16px;
                            color: $black;
                            line-height: 24px;
                        }
                        input {
                            height: 32px;
                            width: 100%;
                            margin-bottom: calc(22px + 17px);
                            border-bottom: 2px solid $black;
                        }
                        textarea {
                            width: 100%;
                            height: 100px;
                            padding: $spacing;
                            margin-bottom: 22px;
                            border: 2px solid $black;
                            resize: none;
                        }
                        .btn {
                            display: block;
                            width: 100%;
                            margin: 0;
                        }
                        :-moz-placeholder {
                            color: $black;
                        }
                        :-ms-input-placeholder {
                            color: $black;
                        }
                        ::-moz-placeholder {
                            color: $black;
                        }
                        ::-webkit-input-placeholder {
                            color: $black;
                        }
                    }
                    .info {
                        min-height: 400px;
                        padding-top: $spacing*6;
                        .address {
                            text-align: center;
                            p {
                                font-weight: 300;
                                font-size: 24px;
                                color: $white;
                                line-height: 40px;
                            }
                        }
                    }
                }
                @media (min-width:768px) {
                    .contact-section {
                        .form {
                            padding: $spacing*6;
                            clear: both;
                            input {
                                &:nth-of-type(1) {
                                    width: 48.5%;
                                    float: left;
                                }
                                &:nth-of-type(2) {
                                    width: 48.5%;
                                    float: right;
                                }
                            }
                            .btn {
                                min-width: 220px;
                                width: auto;
                            }
                        }
                    }
                }
                @media (min-width: 992px) {
                    .contact-section {
                        @include direction-row;
                        .form, .info {
                            width: 50%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .wpcf7-form-control-wrap {
        float: left;
        width: 100%;
        margin-bottom: calc(22px + 17px);
        input {
            width: 100% !important;
            margin-bottom: 0 !important;
        }
    }
    .your-message {
        margin-bottom: 30px;
    }
        .wpcf7-submit {
            height: auto !important;
            border: none !important;
            color: $white !important;
            float: right !important;
        }
        div.wpcf7-validation-errors {
            float: left;
            color: $black;
            font-size: 14px;
            width: 100%;            
        }
        div.wpcf7-mail-sent-ok {
            float: left;
            color: $black;
            font-size: 14px;
            width: 100%; 
        }
}