.fighters-page {
    .content {
        padding: 0 0 $spacing;
        background: $darkestblue;
        .sub-content {
            text-align: center;
            .title {
                padding: $spacing*6 0 $spacing*4;
                color: $white;
                h1 {
                    border-bottom: 8px solid $yellow;
                    font-size: 34px;
                    line-height: 24px;
                }
            }
            .fighters-container {
                margin: 0;
                width: 100%;
                max-width: 1440px;
                margin: 0 auto;
                padding: 0;
                list-style: none;
                @include flex;
                @include wrap;
                .alias {
                    color: $yellow;
                }
            }
            @media (min-width: 768px) {
                .title {
                    padding: $spacing*9.6 0 $spacing*5.6;
                    &:first-of-type {
                        padding: $spacing*2 0 $spacing*4;
                    }
                    h1 {
                        font-size: 45px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}