.fighter-single-page {
    .fighter-nav {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 40px;
        padding: 0 20px;
        background: rgba(5, 11, 24, 0.6);
        font-weight: 900;
        font-size: 14px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: opacity .15s ease;
        z-index: 20;
        @include flex;
        @include align-center;
        @include justify-space-between;
        img {
            width: 6px;
            &.left {
                transform: rotate(180deg);
                margin: 0 8px 0 0;
            }
            &.right {
                margin: 0 0 0 8px;
            }
        }
    }
    .content {
        padding: 0 0 $spacing;
        background: $darkestblue;
        .main-heading {
            &.single-fighter {
                .fighter-intro {
                    z-index: 0;
                    &:after {
                        z-index: 0;
                    }
                    .wrapper {
                        .background {
                            z-index: 0;
                        }
                    }
                }
                .fighter-stats {
                    .wrapper {
                        padding: $spacing;
                        .tab-content {
                            padding: $spacing*1.6 0;
                            font-size: 14px;
                            line-height: 24px;
                            table {
                                width: 100%;
                                border-collapse: collapse;
                                tr {
                                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                                    td {
                                        padding: $spacing*1.5 $spacing;
                                        font-size: 14px;
                                        line-height: 24px;
                                        &:nth-child(odd) {
                                            text-transform: uppercase;
                                        }
                                        &:nth-child(even) {
                                            text-align: right;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                            ul {
                                padding: 0 0 0 30px;
                                list-style-type: disc;
                                li {
                                    margin: 8px 0;
                                    &:first-child {
                                        margin-top: 0;
                                    }
                                }
                            }
                            p {
                                margin-bottom: 8px;
                            }
                        }
                        #tab-3 {
                            column-count: 1;
                            -moz-column-count: 1;
                            -webkit-column-count: 1;
                        }
                    }
                }
            }
            @media (min-width:768px) {
                &.single-fighter {
                    .fighter-stats {
                        .wrapper {
                            .tab-content {
                                column-count: 2;
                                -moz-column-count: 2;
                                -webkit-column-count: 2;
                            }
                        }
                    }
                }
            }
            @media (min-width:992px) {
                &.single-fighter {
                    position: relative;
                    .fighter-intro {
                        min-height: 1080px;
                        height: calc(90vh - 80px);
                        padding: 0;
                        .wrapper {
                            .background {
                                img {
                                    width: 105%;
                                    height: 100%;
                                    padding: 0;
                                }
                            }
                            .info {
                                margin-top: 160px;
                                @include justify-start;
                            }
                        }
                    }
                    .fighter-stats {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 1180px;
                        margin: 0 auto;
                        .wrapper {
                            max-width: 600px;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .sub-content {
            max-width: 1180px;
            margin: 0 auto;
            padding: $spacing;
            >.title {
                margin: $spacing*3 0;
            }
            .pic-wrapper {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                .pictures-container {
                    display: grid;
                    grid-gap: 2px;
                    grid-template-columns: 44.5% 27.5% 27.5%;
                    grid-template-areas: "one two two" 
                                         "one three four";
                    margin: $spacing*3 0;
                    li {
                        cursor: pointer;
                        display: none;
                        &:nth-child(1) {
                            grid-area: one;
                        }
                        &:nth-child(2) {
                            grid-area: two;
                        }
                        &:nth-child(3) {
                            grid-area: three;
                        }
                        &:nth-child(4) {
                            grid-area: four;
                            position: relative;
                            &:after {
                                content: '50+';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                @include flex;
                                @include justify-center;
                                @include align-center;
                                font-weight: normal;
                                font-size: 24px;
                                color: $white;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(12, 0, 51, 0.80);
                            }
                        }
                        &:nth-child(-n+4) {
                            display: inline-block;
                        }
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            @media (min-width:992px) {
                .pic-wrapper {
                    .pictures-container {
                        grid-template-columns: 30% 30% 20% 20%;
                        grid-template-areas: "one two three three" 
                                             "one two four five";
                        li {
                            &:nth-child(1) {
                                grid-area: one;
                            }
                            &:nth-child(2) {
                                grid-area: two;
                            }
                            &:nth-child(3) {
                                grid-area: three;
                            }
                            &:nth-child(4) {
                                grid-area: four;
                                &:before,
                                &:after {
                                    content:'';
                                    display: none;
                                }
                            }
                            &:nth-child(5) {
                                position: relative;
                                display: inline-block;
                                grid-area: five;
                                &:after {
                                    content: '50+';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    @include flex;
                                    @include justify-center;
                                    @include align-center;
                                    font-weight: normal;
                                    font-size: 24px;
                                    color: $white;
                                }
                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(12, 0, 51, 0.80);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
