.home-page {
    .content {
        background: $darkestblue;
        .sub-content {
            padding: $spacing*3 $spacing;
            clear: both;
            .card {
                width: 220px;
                height: 140px;
                margin: 0 5px;
                cursor: pointer;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            .trending-container,
            .video-container,
            .news-container {
                padding: $spacing*3 0;
                clear: both;
                list-style: none;
            }
            .video-container {
                float: left;
                width: 100%;
            }
            .news-container {
                min-height: 480px;
            }
            .bx-wrapper {
                margin-bottom: 0;
                background: transparent;
                border: none;
                box-shadow: 0 0 0 transparent;
                .bx-viewport {
                    min-height: $spacing*20;
                }
                .bx-pager {
                    display: none;
                }
                .bx-controls {
                    .bx-next,
                    .bx-prev {
                        top: 30px;
                        height: 140px;
                        // width: 120px;
                        margin: 0;
                        z-index: 10;
                        @include flex;
                        @include align-center;
                        z-index: 0;
                    }
                    .bx-next {
                        right: 0;
                        @include justify-end;
                        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(8,18,40,1) 100%);
                        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(8,18,40,1) 100%);
                        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(8,18,40,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#081228',GradientType=1 );
                    }
                    .bx-prev {
                        left: 0;
                        @include justify-start;
                        background: -moz-linear-gradient(left, rgba(8,18,40,1) 0%, rgba(0,0,0,0) 100%);
                        background: -webkit-linear-gradient(left, rgba(8,18,40,1) 0%,rgba(0,0,0,0) 100%);
                        background: linear-gradient(to right, rgba(8,18,40,1) 0%,rgba(0,0,0,0) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081228', endColorstr='#00000000',GradientType=1 );
                        img {
                            transform: rotate(180deg);
                        }                        
                    }
                    img {
                        display: block;
                        width: 16px;
                        height: auto;
                    }
                }
            }
        }
    }
    @media (min-width:768px) {
        .content {
            .sub-content {
                .card {
                    width: 300px;
                    height: 176px;
                }
            }
        }
    }
    @media (min-width:992px) {
        .content {
            .sub-content {
                max-width: 1180px;
                margin: 0 auto;
                .card {
                    width: 18.7%;
                    height: 140px;
                }
                .trending-container {
                    @include flex;
                    justify-content: space-between;
                }
                .video-container,
                .news-container {
                    .card {
                        float: left;
                        width: 18%;
                        height: 180px;
                        margin: 0 $spacing*2 $spacing*2 0;
                        &:nth-child(4) {
                            margin-right: 0;
                        }
                        &:last-child {
                            float: none;
                            margin-right: 0;
                        }
                        &.large {
                            p {
                                line-height: 25px;
                            }
                            &.active {
                                width: 40%;
                                height: 380px;
                            }
                        }
                    }
                }
            }
        }
    }
}