.home-page-pre-fight {
    .hero {
        .heading {
            text-align: center;
            .wrap {
                max-width: 100%;
                &:first-of-type {
                    margin-bottom: $spacing*1.5;
                    h1 {
                        font-size: 56px;
                        line-height: 46px;
                        @media (min-width: 768px) {
                            font-size: 96px;
                            line-height: 76px;
                        }
                    }
                    .vs {
                        @media (min-width: 768px) {
                            vertical-align: top;
                            .text {
                                font-size: 50px;
                            }
                            &:before,
                            &:after {
                                height: 8px;
                            }
                            &:after {
                                margin-top: -12px;
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    @include flex;
                    @include wrap;
                    @include justify-center;
                    @include align-end;
                    h3 {
                        margin-bottom: $spacing*1.5;
                        &.mach {
                            margin-right: $spacing*2;
                            font-size: 34px;
                            line-height: 24px;
                        }
                        &.robo {
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 30px;
                            text-transform: uppercase;
                        }
                    }
                    .watch-live {
                        margin-bottom: 8px;
                        padding: 0;
                        @media (min-width:768px) {
                            margin-left: $spacing*2;
                        }
                        @media (min-width: 992px) {
                            .watch-btn {
                                margin: 0;
                            }
                        }
                    }
                    @media (min-width: 768px) {
                        @include align-center;
                        h3 {
                            margin-bottom: 0;
                            &.mach {
                                font-size: 45px;
                                line-height: 35px;
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    h3 {
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                }
                &:last-of-type {
                    margin: 0 auto;
                    @include justify-center;
                    .btn {
                        margin-top: $spacing*1.6;
                    }
                }
            }
        }
    }
    .content {
        background: $darkestblue;
        float: left;
        width: 100%;
        .sub-content {
            max-width: 1440px;
            margin: 0 auto;
            padding: $spacing;
            .title {
                h3 {
                    margin-left: 24px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 22px;
                    &:before {
                        content: '';
                        display: inline-block;
                        height: 16px;
                        width: 16px;
                        margin-right: 4px;
                        border-radius: 100px;
                        background: #CE1626;
                        vertical-align: text-bottom;
                    }
                }
            }
            .round-container {
                position: absolute;
                left: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                max-width: 1440px;
                height: 50px;
                margin: $spacing*3.2 auto;
                overflow: scroll;
                transition: all .15s ease;
                &.fixed {
                    position: fixed;
                    top: 28px;
                    left: 0;
                    background: $darkestblue;
                    z-index: 90;
                    @media (min-width: 768px) {
                        top: 48px;
                    }
                }
                .round-nav {
                    width: 200%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    @include flex;
                    @include align-end;
                    .round-link {
                        color: $white;
                        width: 20%;
                        padding-bottom: $spacing*1.6;
                        list-style: none;
                        text-align: center;
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 2.29px;
                        text-transform: uppercase;
                        cursor: pointer;
                        &.current {
                            font-weight: 900;
                            color: $yellow;
                            border-bottom: 2px solid $yellow;
                        }
                    }
                    @media(min-width:768px) {
                        width: 100%;
                        .round-link {
                            width: 25%;
                        }
                    }
                }
            }
            .round-bracket-container {
                width: 100%;
                padding-top: 111px;
                overflow-x: scroll;
                .rounds {
                    width: 400%;
                    max-width: 1352px;
                    height: auto;
                    padding: 0;
                    margin: 0;
                    @include flex;
                    .round {
                        width: 338px;
                        min-height: 300px;
                        .fight {
                            position: relative;
                            display: table;
                            margin-bottom: $spacing*3.2;
                            .bracket-card {
                                width: 250px;
                                padding: $spacing*1.6;
                                background: #1C263C;
                                box-shadow: inset 2px 0 0 0 $yellow;
                                // opacity: .4;
                                @include flex;
                                .left {
                                    width: 60px;
                                    margin-right: 8px;
                                    .image {
                                        width: 100%;
                                        height: 50px;
                                        overflow: hidden;
                                        img {
                                            display: block;
                                            width: 200%;
                                            margin-left: -50%;
                                            margin-top: -7px;
                                        }
                                    }
                                    .details {
                                        width: 100%;
                                        @include flex;
                                        .flag {
                                            width: 50%;
                                            img {
                                                display: block;
                                                width: 100%;
                                            }
                                        }
                                        .score {
                                            width: 50%;
                                            background: #2E384E;
                                            color: $white;
                                            font-weight: 900;
                                            font-size: 12px;
                                            height: 21px;
                                            @include flex;
                                            @include justify-center;
                                            @include align-center;
                                        }
                                    }
                                }
                                .right {
                                    width: calc(100% - 68px);
                                    .info {
                                        color: $white;
                                        p {
                                            text-transform: capitalize;
                                            font-weight: 500;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            .against {
                                height: 16px;
                                width: 250px;
                                background: #2E384E;
                                box-shadow: 2px 0 0 0 $yellow, inset 2px 0 0 0 $yellow;
                                @include flex;
                                @include align-center;
                                @include justify-center;
                                h4 {
                                    font-weight: 900;
                                    font-size: 12px;
                                    color: #FFFFFF;
                                }
                            }
                            &:nth-of-type(odd) {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    bottom: -$spacing*1.5;
                                    right: -$spacing*4.1;
                                    border-top: 2px solid $yellow;
                                    border-right: 2px solid $yellow;
                                    height: 128px;
                                    width: 41px;
                                }
                                &:after {
                                    content:'';
                                    position: absolute;
                                    right: -$spacing*8.8;
                                    bottom: -$spacing*1.6;
                                    background: $yellow;
                                    width: 49px;
                                    height: 1px;
                                }
                            }
                            &:nth-of-type(even) {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: -$spacing*1.5;
                                    right: -$spacing*4.1;
                                    border-bottom: 2px solid $yellow;
                                    border-right: 2px solid $yellow;
                                    height: 128px;
                                    width: 41px;
                                }
                                &:after {
                                    content:'';
                                    position: absolute;
                                    right: -$spacing*8.8;
                                    top: -$spacing*1.6;
                                    background: $yellow;
                                    width: 49px;
                                    height: 1px;
                                }
                            }
                        }
                        &:nth-of-type(2) {
                            .fight {
                                &:first-of-type {
                                    margin-top: 127px;
                                }
                                &:last-of-type {
                                    margin-top: 286px;
                                }
                                &:nth-of-type(odd) {
                                    &:before {
                                        height: 255px;
                                        bottom: -143px;
                                    }
                                    &:after {
                                        bottom: -143px; 
                                    }
                                }
                                &:nth-of-type(even) {
                                    &:before {
                                        height: 255px;
                                        top: -143px;
                                    }
                                    &:after {
                                        top: -143px; 
                                    }
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            .fight {
                                &:first-of-type {
                                    margin-top: 381px;
                                }
                                &:nth-of-type(odd) {
                                    &:before {
                                        right: -89px;
                                        bottom: 110px;
                                        height: 2px;
                                        width: 89px;
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(4) {
                            .fight {
                                &:first-of-type {
                                    margin-top: 440px;
                                }
                                &:nth-of-type(odd) {
                                    &:before {
                                        display: none;
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &.current {
                            .fight {
                                .bracket-card {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                @media (min-width:992px) {
                    .rounds {
                        width: 100%;
                        max-width: 1440px;
                        .round {
                            width: 25%;
                            .fight {
                                width: calc(100% - 20px);
                                .bracket-card {
                                    width: 80%;
                                }
                                .against {
                                    width: 80%;
                                }
                                &:nth-of-type(odd) {
                                    &:before {
                                        right: 0;
                                        width: 20%;
                                    }
                                    &:after {
                                        width: 22px;
                                        right: -20px;
                                    }
                                }
                                &:nth-of-type(even) {
                                    &:before {
                                        right: 0;
                                        width: 20%;
                                    }
                                    &:after {
                                        width: 22px;
                                        right: -20px;
                                    }
                                }
                            }
                            &:nth-of-type(3) {
                                .fight {
                                    &:nth-of-type(odd) {
                                        &:before {
                                            right: -21px;
                                            width: calc(20% + 20px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}