.live-stats {
    .white-card {
        margin: 32px 0 0 0;
        width: 100%;
        padding: 27px 24px 27px 36px;
        background: $white;
        -webkit-clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
        clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
        @include flex;
        @include justify-space-between;
        .info {
            width: 100%;
            .date {
                margin-bottom: 36px;
            }
            .location {
                margin-bottom: 20px;
            }
            .btn {
                margin: 0;
            }
        }
    }
    @media (min-width: 768px) {
        .white-card {
            .info {
                @include flex;
                @include wrap;
                .main-title {
                    order: 0;
                    margin-right: 20px;
                }
                .date {
                    order: 2;
                    width: 100%;
                }
                .location {
                    order: 1;
                }
                .btn {
                    order: 3;
                }
            }
        }
    }
    @media (min-width:992px) {
        // .title {
        //     width: 100%;
        // }
        // .white-card {
        //     width: calc(33.333% - 5px);
        //     min-height: 313px;
        //     margin-right: 5px;
        //     float: left;
        //     .info {
        //         display: block !important;
        //         .main-title {
        //             margin: 0;
        //         }
        //     }
        // }
    }
}