.news-single-page {
    .content {
        background: $darkestblue;
        .sub-content {
            position: relative;
            padding-top: $spacing*10;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
            }
            >.wrapper {
                max-width: 1180px;
                margin: 0 auto;
                padding: $spacing;
                .main {
                    color: $white;
                    .title {
                        font-size: 34px;
                        padding: 0;
                        margin-bottom: 40px;
                        line-height: 1.2em;
                    }
                    .video-img {
                        position: relative;
                        margin-bottom: $spacing*4.8;
                    }
                    img {
                        width: 100%;
                        display: block;
                    }
                    .info {
                        width: 100%;
                        padding: 0 0 $spacing*4.3;
                        p, li {
                            margin: 24px 0;
                        }
                        ul {
                            margin: $spacing*5 0;
                        }
                        hr {
                            width: 50%;
                            margin: 0 auto;
                            border: none;
                            height: 2px;
                            background: $yellow;
                        }
                        blockquote {
                            margin: 24px 0;
                            font-family: 'ITC Machine Std';
                            font-size: 34px;
                            line-height: 32px;
                            text-align: center;
                            @media (min-width: 768px) {
                                padding: 0 $spacing*4;
                                font-size: 56px;
                                line-height: 64px;
                            }
                        }
                    }
                    .tags {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        h4 {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            text-transform: uppercase;
                        }
                        li {
                            display: inline-block;
                            margin: 0 8px 8px 0;
                            a {
                                padding: $spacing $spacing*1.6;
                                border: 1px solid $white;
                                border-radius: 100px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .sidebar {
                    .ad {
                        width: 100%;
                        img {
                            padding: $spacing*2;
                            width: 100%;
                        }
                    }
                    .card {
                        margin: 0 0 8px 0;
                    }
                    >.title {
                        margin: $spacing*2.4 0;
                    }
                    .related-news {
                        padding: 0;
                        list-style: none;
                    }
                }
            }
        }
    }
    @media (min-width:768px) {
        .content {
            .sub-content {
                padding-top: $spacing*8;
                >.wrapper {
                    @include flex;
                    @include justify-start;
                    .main {
                        width: 55%;
                        padding-left: $spacing;
                        padding-right: $spacing;
                        .video-img {
                            // img {
                            //     height: 460px;
                            //     object-fit: cover;
                            // }
                        }
                    }
                    .sidebar {
                        padding-left: $spacing;
                        width: 45%;
                        .related-news {
                            .card {
                                width: 100%;
                                height: 150px;
                                .wrapper {
                                    padding: $spacing*1.6 0;
                                    @include flex;
                                    @include justify-start;
                                    &:before {
                                        display: none;
                                    }
                                    .image,
                                    .info {
                                        position: initial;
                                    }
                                    .image {
                                        width: 40%;
                                        -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
                                        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
                                    }
                                    .info {
                                        width: 60%;
                                        padding: $spacing*1.6;
                                        @include align-start;
                                        .btn {
                                            display: none !important;
                                        }
                                        .title {
                                            padding: 0;
                                            margin: 0;
                                            max-height: 100%;
                                            p {
                                                font-size: 20px;
                                                line-height: 26px;
                                                -webkit-line-clamp: 3;
                                                -moz-line-clamp: 3;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sponsor-vids {
                            .card {
                                height: 200px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width:992px) {
        .content {
            .sub-content {
                padding-top: $spacing*15;
                .wrapper {
                    .main {
                        width: 70%;
                        padding-left: 0;
                    }
                    .sidebar {
                        width: 30%;
                    }
                }
            }
        }
    }
}