.ranking-page {
    .content {
        background: $darkestblue;
        .main-heading {
            position: relative;
            height: 50vh;
            min-height: 200px;
            width: 100%;
            color: $white;
            @media (min-width:992px) {
                min-height: 700px;
            }
            .background {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    min-height: 200px;
                    background-image: linear-gradient(0deg, #081228 30%, rgba(8, 18, 40, 0.00) 100%);
                }
            }
            .wrapper {
                position: relative;
                @include flex;
                @include align-center;
                @include justify-center;
                height: 100%;
                width: 100%;
                h1 {
                    padding: 0 0 $spacing 0;
                    font-size: 34px;
                    line-height: 24px;
                    border-bottom: 4px solid $yellow;
                    @media (min-width: 768px) {
                        padding: 0;
                        font-size: 56px;
                        line-height: 46px;
                        border-bottom: 8px solid $yellow;
                    }
                    @media (min-width:992px) {
                        font-size: 96px;
                        line-height: 76px;
                        border-bottom: 16px solid $yellow;
                    }
                }
            }
        }
        .sub-content {
            color: $white;
            .wrapper {
                max-width: 940px;
                margin: 0 auto;
                padding: $spacing;
                .tabs-scroll {
                    position: relative;
                    max-width: 940px;
                    overflow-x: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    &::-webkit-scrollbar-button {
                        display: none;
                    }
                    &::-webkit-scrollbar-track {
                        display: none;
                    }
                    &::-webkit-scrollbar-track-piece {
                        display: none;
                    }
                    &::-webkit-scrollbar-thumb {
                        display: none;
                    }
                    &::-webkit-scrollbar-corner {
                        display: none;
                    }
                    &::-webkit-resizer {
                        display: none;
                    }
                }
                .tabs {
                    width: 320vw;
                    margin: $spacing*2 0;
                    @media (min-width: 768px) {
                        width: 150vw;
                    }
                    @media (min-width: 992px) {
                        width: 1280px;
                    }
                    li {
                        width: 207px;
                        font-size: 15px;
                    }
                }
                .tab-content {
                    min-height: auto;
                    padding: $spacing 0 $spacing*10;
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        tbody {
                            tr:nth-child(odd) {
                                background-color: #394154;
                            }
                            tr:first-child {
                                display: none;
                                background: none;
                                width: 100%;
                                border-bottom: 1px solid #394154;
                            }
                            th {
                                padding: $spacing*2 0;
                                font-weight: 900;
                                font-size: 12px;
                                line-height: 22px;
                                text-transform: uppercase;
                                text-align: left;
                            }
                            th:first-child {
                                padding-left: $spacing*2;
                            }
                            td {
                                padding: $spacing*1.6 $spacing;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 24px;
                                text-transform: uppercase;
                                vertical-align: top;
                                img {
                                    width: 28px;
                                }
                            }
                            td:first-child {
                                padding-left: $spacing*2;
                            }
                            td:last-child {
                                padding-right: $spacing*2;
                            }
                        }
                        @media (min-width:768px) {
                            tbody {
                                tr:first-child {
                                    display: table-row;
                                }
                                td {
                                    padding: $spacing*1.6 0;
                                    font-size: 14px;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
}