.schedule-page {
    .content {
        background: $darkestblue;
        .main-heading {
            position: relative;
            height: 50vh;
            min-height: 200px;
            width: 100%;
            color: $white;
            @media (min-width:992px) {
                min-height: 700px;
            }
            .background {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    min-height: 200px;
                    background-image: linear-gradient(0deg, #081228 30%, rgba(8, 18, 40, 0.00) 100%);
                }
            }
            .wrapper {
                position: relative;
                @include flex;
                @include align-center;
                @include justify-center;
                height: 100%;
                width: 100%;
                h1 {
                    padding: 0 0 $spacing 0;
                    font-size: 34px;
                    line-height: 24px;
                    border-bottom: 4px solid $yellow;
                    @media (min-width: 768px) {
                        padding: 0;
                        font-size: 56px;
                        line-height: 46px;
                        border-bottom: 8px solid $yellow;
                    }
                    @media (min-width:992px) {
                        font-size: 96px;
                        line-height: 76px;
                        border-bottom: 16px solid $yellow;
                    }
                }
            }
        }
        .sub-content {
            color: $white;
            .wrapper {
                max-width: 1180px;
                margin: 0 auto;
                padding: $spacing;
                .title-wrapper {
                    color: $white;
                    @include flex;
                    @include justify-space-between;
                    @include align-center;
                    h2 {
                        margin-top: 10px;
                        font-size: 34px;
                        line-height: 24px;
                    }
                }
                .tabs {
                    margin: $spacing*2 0;
                    li {
                        width: 50%;
                        font-size: 13px;
                    }
                }
                .tab-content {
                    min-height: auto;
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                    .btn {
                        margin: $spacing*3 0;
                        width: 100%;
                        @media (min-width: 768px) {
                            width: auto;
                            margin: $spacing*3 auto;
                            @include flex;
                        }
                        @media (min-width: 768px) {
                            width: 340px;
                            @include justify-center;
                        }
                    }
                }
                .date-wrapper {
                    margin: $spacing*3.2 0;
                }
                @media (min-width:992px) {
                    .tabs {
                        display: none !important;
                    }
                    .tab-content {
                        display: inline-block !important;
                        vertical-align: top;
                    }
                    #tab-1 {
                        padding-right: $spacing*2;
                        width: calc(70% - 20px);
                    }
                    #tab-2 {
                        width: 30%;
                    }
                }
            }
        }
    }
}