.videos-page {
    .content {
        background: $darkestblue;
        .sub-content {
            max-width: 1180px;
            margin: 0 auto;
            padding: $spacing;
            >.title {
                padding: 0 0 $spacing*3.6 0;
            }
            .vid-wrapper {
                padding-bottom: $spacing*6;
                @media (min-width:768px) {
                    padding-bottom: $spacing*9.6;
                }
            }
        }
    }
}