a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

[onclick^="location.href"] {
    cursor: pointer;
}

.btn {
    // removes default style
    background: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer; 
    // custom styling
    margin: $spacing;
    transition: all .35s ease;
    &.yellow {
        background: $yellow;
        color: $white;
        &:hover {
            background: $orange;
            box-shadow: 0 2px $darkorange;
        }
        &:active {
            background: $lightorange;
            box-shadow: 0 -2px $orange;
        }
        &:disabled {
            color: $white;
            background: $dullorange;
            box-shadow: 0 0 0 transparent;
        }
        &.border {
            color: $yellow;
            background: transparent;
            -webkit-box-shadow:inset 0px 0px 0px 1px $yellow;
            -moz-box-shadow:inset 0px 0px 0px 1px $yellow;
            box-shadow:inset 0px 0px 0px 1px $yellow;
            &:hover {
                color: $orange;
                background: transparent;
                -webkit-box-shadow:inset 0px 0px 0px 2px $orange;
                -moz-box-shadow:inset 0px 0px 0px 2px $orange;
                box-shadow:inset 0px 0px 0px 2px $orange;
            }
            &:active {
                background: $lightorange;
                box-shadow: 0 -2px $orange;
                color: $white;
            }
            &:disabled {
                color: $dullorange;
                background: transparent;
                -webkit-box-shadow:inset 0px 0px 0px 1px $dullorange;
                -moz-box-shadow:inset 0px 0px 0px 1px $dullorange;
                box-shadow:inset 0px 0px 0px 1px $dullorange;
            }
        }
    }
    &.blue {
        background: $darkblue;
        color: $white;
        &:hover {
            background: $blue;
            box-shadow: 0 2px 0 $darkblue;
        }
        &:active {
            background: $lightblue;
            box-shadow: 0 -2px 0 $blue;
        }
        &:disabled {
            background: $dullblue;
            box-shadow: 0 0 0 transparent;
        }
        &.border {
            color: $darkblue;
            background: transparent;
            -webkit-box-shadow:inset 0px 0px 0px 1px $darkblue;
            -moz-box-shadow:inset 0px 0px 0px 1px $darkblue;
            box-shadow:inset 0px 0px 0px 1px $darkblue;
            &:hover {
                color: $blue;
                background: transparent;
                -webkit-box-shadow:inset 0px 0px 0px 2px $blue;
                -moz-box-shadow:inset 0px 0px 0px 2px $blue;
                box-shadow:inset 0px 0px 0px 2px $blue;
            }
            &:active {
                background: $lightblue;
                box-shadow: 0 -2px 0 $blue;
                color: $white;
            }
            &:disabled {
                color: $dullblue;
                background: transparent;
                -webkit-box-shadow:inset 0px 0px 0px 1px $dullblue;
                -moz-box-shadow:inset 0px 0px 0px 1px $dullblue;
                box-shadow:inset 0px 0px 0px 1px $dullblue;
            }
        }
    }
    &.long {
        padding: $spacing*2.5 $spacing*4.5;
        border-radius: $spacing*10;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &.round {
        height: $spacing*6;
        width: $spacing*6;
        border-radius: $spacing*10;
        @include flex;
        @include align-center;
        @include justify-center;
        &.border {
            -webkit-box-shadow:inset 0px 0px 0px 2px currentColor;
            -moz-box-shadow:inset 0px 0px 0px 2px currentColor;
            box-shadow:inset 0px 0px 0px 2px currentColor;
            svg {
                polygon {
                    fill: currentColor;
                }
            }
        }
        &.small {
            height: $spacing*2.8;
            width: $spacing*2.8;
            svg {
                height: $spacing*1.2;
                width: $spacing*1.2;
            }
        }
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.watch-btn {
    position: relative;
    width: 250px;
    height: 60px;
    // padding: $spacing*1.2 $spacing*2.4;
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 100px;
    @include flex;
    @include align-center;
    @include justify-center;
    .info {
        width: 180px;
        a {
            width: 100%;
            @include flex;
            @include align-center;
            @include justify-center;
        }
        .logo {
            // margin-top: 5px;
            width: 40px;
            padding: 0 8px 0 0; 
            img {
                width: 100%;
                display: block;
            }
        }
        .text {
            h3, h4 {
                margin: 0 !important;
            }
            h3 {
                font-weight: 900;
                font-size: 14px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            h4 {
                font-weight: 500;
                font-size: 12px;
                line-height: 22px;  
                text-transform: uppercase;
            }
        }
    }
    .menu {
        cursor: pointer;
        width: calc(100% - 180px);
        height: 100%;
        border-left: 1px solid rgba(255,255,255,0.40);
        @include flex;
        @include align-center;
        @include justify-center;
    }
    .subnav {
        position: absolute;
        top: 60px;
        right: calc(-50% + 100px);
        padding: 0;
        min-height: 100px;
        min-width: 200px;
        list-style: none;
        background: $white;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .25s ease;
        li {
            cursor: pointer;
            height: 60px;
            color: $black;
            border-bottom: 1px solid #F5F5F5;
            @include flex;
            @include align-center;
            @include justify-space-between;
            div {
                padding: 0 15px;
                font-size: 14px;
                line-height: 24px;
                white-space: nowrap;
                .btn {
                    margin: 0 !important;
                }
                img {
                    max-height: 40px;
                }
                &.channel-name {
                    width: 120px;
                    text-align: left;
                }
                &.logo {
                    width: 70px;
                    img { max-width: 40px; }
                }
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -8px;
            right: calc(50% - 4px);
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $white;
        }
        &.active {
            transform: scaleY(1);
        }
    }
}