.card {
    display: inline-block;
    width: 220px;
    height: 180px;
    margin: $spacing;
    >a {
        display: block !important;
        width: 100%;
        height: 100%;
    }
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: $spacing*1.5;
        -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $yellow;
            z-index: 1;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(-1deg, rgba(8,18,40,0.9) 0%, rgba(8,18,40,0.00) 80%);
            }
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            @include flex;
            @include align-center;
            @include justify-start;
            .btn {
                margin: 0 15px 0 0;              
            }
            .title {
                max-height: 34px;
                width: calc(100% - 24px);
                padding: 0;
                overflow: hidden;
                p {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: $white;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -moz-line-clamp: 2;
                    overflow: hidden;
                }
                &:first-child {
                    width: 100%;
                    padding-left: 10px;
                }
            }
        }
    }
    &.large {
        &.active {
            width: 460px;
            height: 380px;
            .wrapper {
                .info {
                    min-height: $spacing*9;
                    .title {
                        max-height: 50px;
                        width: calc(100% - 60px);
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
            &:first-of-type {
                .wrapper {
                    clip-path: polygon(5% 0%, 95% 0%, 100% 0%, 100% 95%, 95% 100%, 5% 100%, 0% 100%, 0% 5%);
                    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 0%, 100% 95%, 95% 100%, 5% 100%, 0% 100%, 0% 5%);
                    &:before {
                        display: none;
                    }
                    .info {
                        background: $white;
                        border-top: 2px solid $yellow;
                        .title {
                            p {
                                color: $black;
                            }
                        }
                    }
                }
            }
            &.news {
                height: 300px;
                &:not(:first-of-type) {
                    width: 340px;
                }
            }
        }
    }
}