// colors
$black: #000;
$notblack: #050B18;
$white: #fff;
$notwhite: #F5F5F5;
$gray: #BDBDBD;
$lightgray: #D9D9D9;
$yellow: #FEC837;
$orange: #FE9637;
$darkorange: #FE7B04;
$lightorange: #FEA737;
$dullorange: #FEBE83;
$darkblue: #143068;
$blue: #204EA8;
$lightblue: #3B71DA;
$dullblue: #D3DFF7;
$darkestblue: #081228;
$darkerblue: #252C3A;