.fighter-card {
    position: relative;
    width: calc(50% - 20px);
    height: 240px;
    margin-bottom: $spacing*2;
    margin-right: $spacing;
    margin-left: $spacing;
    border-bottom: 2px solid $yellow;
    -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    @media (min-width: 768px) {
        width: calc(25% - 20px);
        height: 258px;
    }
    @media (min-width:992px) {
        height: 510px;
        -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
        clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    }
    .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(0deg, #081228 18%, rgba(8, 18, 40, 0.00) 59%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: $spacing*1.6;
        color: $white;
        text-align: left;
        .flag {
            width: 28px;
            height: 20px;
            margin-bottom: 5px;
            @media (min-width: 992px) {
                width: 42px;
                height: 30px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3 {
            margin-bottom: 5px;
        }
        h3.robo {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            @media (min-width: 992px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
        h3.mach {
            font-size: 24px;
            line-height: 24px;
            @media (min-width: 992px) {
                font-size: 56px;
                line-height: 46px;
            }
        }
    }
}