@mixin flex {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -o-flex !important;
    display: -ms-flex !important;
    display: flex !important;
}
@mixin align-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
@mixin align-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
@mixin align-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
@mixin align-stretch {
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}
@mixin align-self-center {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
}
@mixin align-self-end {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
}
@mixin align-self-start {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}
@mixin justify-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
@mixin justify-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
@mixin justify-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
@mixin justify-space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@mixin justify-space-around {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
@mixin direction-col {
    -webkit-box-orient: block-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: block-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
@mixin direction-row {
    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: inline-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
@mixin no-wrap {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: none;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
@mixin wrap {
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}