@font-face {
	font-family: 'ITC Machine Std';
	src: url('fonts/MachineStd-Bold.eot');
	src: url('fonts/MachineStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/MachineStd-Bold.woff') format('woff'),
		url('fonts/MachineStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Machine Std';
	src: url('fonts/MachineStd.eot');
	src: url('fonts/MachineStd.eot?#iefix') format('embedded-opentype'),
		url('fonts/MachineStd.woff') format('woff'),
		url('fonts/MachineStd.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}