.title {
    h1,h2,h3,h4 {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 8px;
    }
    span {
        vertical-align: middle;
    }
    &.white {
        h1,h2,h3,h4 {
            color: $white;
        }
        span {
            svg {
                g {
                    stroke: $white;
                }
            }
        }
    }
}
.tag {
    display: inline-block;
    padding: 8px 6px;
    background: $yellow;
}

.vs {
    display: inline-block !important;
    font-size: 34px !important;
    vertical-align: text-top !important;
    + .mach {
        display: inline-block;
        vertical-align: bottom;
    }
    &:before,
    &:after {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: $yellow;
    }
    &:after {
        margin-top: -10px;
    }
    .text {
        margin: 0;
        font-size: 34px;
        font-weight: 500;
    }
    &.small {
        font-size: 24px;
        &:before,
        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background: $yellow;
        }
        &:after {
            margin-top: -8px;
        }
        .text {
            margin: 0;
            font-size: 24px !important;
        } 
    }
    @media (min-width:992px) {
        font-size: 56px !important;
        &:before,
        &:after {
            height: 8px;
        }
        &:after {
            margin-top: -16px;
        }
        .text {
            font-size: 56px !important;
        }
    }
    &.white {
        color: $white;
    }
}