.sel {
    height: 41px;
    padding: 0 $spacing 0 $spacing;
    border-radius: 0;
    font-weight: normal;
    font-size: 16px;
    background-image: url(img/icon-caret.svg);
    background-repeat: no-repeat;
    background-position:  90% 50%;
    background-size: 10px;
    -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    &.white {
        background-color: $white;
        color: $black;
    }
    &.blue {
        background-color: $darkblue;
        color: $white;       
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    @include flex;
    @include justify-end;
    input {
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 $spacing*15 0 $spacing*2;
        border-radius: 100px;
        font-weight: normal;
        font-size: 16px;
    }
    :-moz-placeholder {
        color: $gray;
    }
    :-ms-input-placeholder {
        color: $gray;
    }
    ::-moz-placeholder {
        color: $gray;
    }
    ::-webkit-input-placeholder {
        color: $gray;
    }
    .btn {
        position: relative;
        margin: 0 8px 0 0;
        padding: $spacing*1.5;
        color: $white;
        width: auto;
        height: 50px;
        @include align-self-center;
    }
}

#mce-responses {
    .response {
        color: $white;
        padding-top: 30px;
        font-size: 14px;
    }
}