.schedule-card {
    min-height: 193px;
    margin: $spacing*1.6 0;
    -webkit-clip-path: polygon(5% 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0% 10%);
    clip-path: polygon(5% 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0% 10%);
    @include flex;
    .date {
        width: 80px;
        @include flex;
        @include align-center;
        @include justify-center;
        @include direction-col;
        .month {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
        }
        .day {
            margin: 8px 0;
            font-size: 34px;
            line-height: 24px;
        }
        .time {
            font-weight: 900;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .info {
        position: relative;
        width: calc(100% - 80px);
        padding: $spacing*1.6 $spacing*1.6 0;
        @include flex;
        @include direction-col;
        .title {
            margin-bottom: 8px;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
        }
        .location {
            margin-bottom: 8px;
            font-weight: normal;
            font-size: 14px;
        }
        .venue {
            margin-bottom: 8px;
            @include flex;
            @include align-center;
            .pin,
            .tv {
                margin-right: 8px;
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
            .tv {
                margin-top: 8px;
            }
            .address {
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .cal {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            width: auto; 
            right: 0; 
            top: 0;
            left: auto;
            bottom: auto;
            a {
                display: block;
                height: 100%;
                width: 100%;
                padding: $spacing*1.6;
                background: $notwhite;
                border-top: 1px solid $lightgray;
                @include flex;
                @include align-center;
                img {
                    margin-right: 8px;
                }
                @media(max-width: 767px) {
                    padding: $spacing*0.6;
                }
            }
        }
        @media(max-width: 767px) {
            padding: $spacing*4.0 $spacing*1.6 0;
        }
    }
    &.blue {
        min-height: 145px;
        color:$white;
        background: #373F50;
        .date {
            background: #212A3D;
        }
        .info {
            padding: $spacing*1.6;
            @include justify-space-between;
            .venue {
                .pin {
                    svg {
                        g {
                            fill: $white;
                        }
                    }
                }
                .tv {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
    &.white {
        color: $black;
        background: $white;
        .date {
            background: $yellow;
        }
    }
}