ul.tabs {
    height: 40px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    @include flex;
    li {
        display: inline-block;
        width: 33.333%;
        height: 100%;
        padding: 10px 0;
        background: none;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 2.29px;
        cursor: pointer;
        transition: all .25s ease;
        border-bottom: 2px solid transparent;
            font-weight: 900;
        &.current {
            color: $yellow;
            border-bottom: 2px solid $yellow;
            font-weight: 900;
        }
    }
}
.tab-content {
    display: none;
    min-height: 400px;
    &.current {
        display: inherit;
    }
}

.dev {
    .info-panel {
        position: absolute;
        top: -5px;
        left: 0;
        font-size: 20px;
        background: rgba(252, 149, 68, 0.5);
        padding: 5px 10px;
        border-radius: 10px;
        color: $white;
    }
    .sub-content {
        position: relative;
    }
}