.tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: auto;
    background: $white;
    z-index: 1;
    .container {
        padding: 16px 30px;
        p {
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            color: $black;
            line-height: 24px;
        }
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        right: calc(50% - 4px);
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
    }
}