.mach {
    font-family: 'ITC Machine Std';
}

.robo {
    font-family: 'Roboto', sans-serif;
}

h1 {
    &.mach {
        font-weight: bold;
        font-size: 96px;
        line-height: 76px;
    }
    &.robo {
        font-weight: 300;
        font-size: 34px;
    }
}

h2 {
    &.mach {
        font-weight: 500;
        font-size: 56px;
        line-height: 46px;
    }
    &.robo {
        font-weight: 300;
        font-size: 24px;
    }
}

h3 {
    &.mach {
        font-weight: 500;
        font-size: 45px;
        line-height: 35px;
    }
    &.robo {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
}

h4 {
    &.mach {
        font-weight: 500;
        font-size: 34px;
        line-height: 24px;
    }
    &.robo {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
}

.caption {
    font-weight: 900;
    font-style: italic;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}