.brackets {
    max-width: 1440px;
    margin: 0 auto;
    padding: $spacing;
    .title {
        h2 {
            display: inline-block;
            vertical-align: middle;
        }
        .live {
            margin-left: 24px;
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            &:before {
                content: '';
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-right: 4px;
                border-radius: 100px;
                background: #CE1626;
                vertical-align: text-bottom;
            }
        }
    }
    .cta-bracket-challenge {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 15px;
        margin: 0;
    }
    .round-container {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        max-width: 1440px;
        height: 50px;
        margin: $spacing*3.2 auto;
        overflow: scroll;
        transition: all .15s ease;
        &.fixed {
            position: fixed;
            top: 28px;
            left: 0;
            background: $darkestblue;
            z-index: 90;
            @media (min-width: 768px) {
                top: 48px;
            }
        }
        .round-nav {
            width: 200%;
            height: 100%;
            padding: 0;
            margin: 0;
            @include flex;
            @include align-end;
            .round-link {
                color: $white;
                width: 20%;
                padding-bottom: $spacing*1.6;
                list-style: none;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 2.29px;
                text-transform: uppercase;
                cursor: pointer;
                &.current {
                    font-weight: 900;
                    color: $yellow;
                    border-bottom: 2px solid $yellow;
                }
            }
            @media(min-width:768px) {
                width: 100%;
                .round-link {
                    width: 25%;
                }
            }
        }
    }
    .round-bracket-container {
        position: relative;
        width: 100%;
        padding-top: 111px;
        overflow-x: scroll;
        .rounds {
            width: 400%;
            max-width: 1352px;
            height: auto;
            padding: 0;
            margin: 0;
            @include flex;
            .round {
                width: 338px;
                min-height: 300px;
                .fight {
                    position: relative;
                    display: table;
                    margin-bottom: $spacing*3.2;
                    .bracket-card {
                        width: 250px;
                        padding: $spacing*1.6;
                        background: #1C263C;
                        box-shadow: inset 2px 0 0 0 $yellow;
                        opacity: 1;
                        @include flex;
                        .left {
                            width: 60px;
                            margin-right: 8px;
                            .image {
                                width: 100%;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            .details {
                                width: 100%;
                                height: 21px;
                                @include flex;
                                .flag {
                                    width: 50%;
                                    img {
                                        display: block;
                                        width: 100%;
                                    }
                                }
                                .pick {
                                    display: none;
                                }
                                .score {
                                    width: 50%;
                                    background: #2E384E;
                                    color: $white;
                                    font-weight: 900;
                                    font-size: 12px;
                                    min-height: 21px;
                                    @include flex;
                                    @include justify-center;
                                    @include align-center;
                                }
                            }
                        }
                        .right {
                            width: calc(100% - 68px);
                            .info {
                                color: $white;
                                p {
                                    text-transform: capitalize;
                                    font-weight: 500;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    &.rfinal {
                        opacity: 1;
                    }
                    .against {
                        height: 16px;
                        width: 250px;
                        background: #2E384E;
                        box-shadow: 2px 0 0 0 $yellow, inset 2px 0 0 0 $yellow;
                        @include flex;
                        @include align-center;
                        @include justify-center;
                        h4 {
                            font-weight: 900;
                            font-size: 12px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-of-type(odd) {
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -$spacing*1.5;
                            right: -$spacing*4.1;
                            border-top: 2px solid $yellow;
                            border-right: 2px solid $yellow;
                            height: 128px;
                            width: 41px;
                        }
                        &:after {
                            content:'';
                            position: absolute;
                            right: -$spacing*8.8;
                            bottom: -$spacing*1.6;
                            background: $yellow;
                            width: 49px;
                            height: 1px;
                        }
                    }
                    &:nth-of-type(even) {
                        &:before {
                            content: '';
                            position: absolute;
                            top: -$spacing*1.5;
                            right: -$spacing*4.1;
                            border-bottom: 2px solid $yellow;
                            border-right: 2px solid $yellow;
                            height: 128px;
                            width: 41px;
                        }
                        &:after {
                            content:'';
                            position: absolute;
                            right: -$spacing*8.8;
                            top: -$spacing*1.6;
                            background: $yellow;
                            width: 49px;
                            height: 1px;
                        }
                    }
                    &.selected {
                        .bracket-card {
                            &:not(.selected) {
                                opacity: .4 !important;
                            }
                            &.selected {
                                .left {
                                    .details {
                                        .pick {
                                            @include flex;
                                            width: 50%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    .fight {
                        &:first-of-type {
                            margin-top: 127px;
                        }
                        &:last-of-type {
                            margin-top: 286px;
                        }
                        &:nth-of-type(odd) {
                            &:before {
                                height: 255px;
                                bottom: -143px;
                            }
                            &:after {
                                bottom: -143px; 
                            }
                        }
                        &:nth-of-type(even) {
                            &:before {
                                height: 255px;
                                top: -143px;
                            }
                            &:after {
                                top: -143px; 
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    .fight {
                        &:first-of-type {
                            margin-top: 381px;
                        }
                        &:nth-of-type(odd) {
                            &:before {
                                right: -89px;
                                bottom: 110px;
                                height: 2px;
                                width: 89px;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:nth-of-type(4) {
                    .fight {
                        &:first-of-type {
                            margin-top: 440px;
                        }
                        &:nth-of-type(odd) {
                            &:before {
                                display: none;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        @media (min-width:992px) {
            .rounds {
                width: 100%;
                max-width: 1440px;
                .round {
                    width: 25%;
                    .fight {
                        width: calc(100% - 20px);
                        .bracket-card {
                            width: 80%;
                        }
                        .against {
                            width: 80%;
                        }
                        &:nth-of-type(odd) {
                            &:before {
                                right: 0;
                                width: 20%;
                            }
                            &:after {
                                width: 22px;
                                right: -20px;
                            }
                        }
                        &:nth-of-type(even) {
                            &:before {
                                right: 0;
                                width: 20%;
                            }
                            &:after {
                                width: 22px;
                                right: -20px;
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        .fight {
                            &:nth-of-type(odd) {
                                &:before {
                                    right: -21px;
                                    width: calc(20% + 20px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}