footer {
    background: $notblack;
    color: $white;
    padding: $spacing*5.6 $spacing*2 $spacing*4.2;
    float: left;
    width: 100%;
    display: block;

    .wrapper {
        ul {
            padding: 0;
            list-style: none;
        }
        .nav {
            margin-right: $spacing*2;
            column-count: 2;
            column-gap: $spacing*2;
            li {
                margin-bottom: $spacing*2;
                a {
                    font-weight: 900;
                    font-size: 14px;
                    color: currentColor;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
        }
        .social {
            .title {
                margin-bottom: $spacing*1.6;
                h3 {
                    font-size: 24px;
                }
            }
            .links {
                @include flex;
                li {
                    display: inline-block;
                    margin-right: $spacing;
                }
            }
        }
    }
    @media (min-width:768px) {
        .wrapper {
            @include flex;
            .nav {
                margin-right: $spacing*2;
            }
            .social {
                .title {
                    h3 {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
    @media (min-width:992px) {
        .wrapper {
            max-width: 710px;
            margin: 0 auto;
            .nav {
                li {
                    min-width: 220px;
                }
            }
        }
    }
}