header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $spacing*6;
    padding: 0 $spacing;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
    transition: all .15s ease;
    @include flex;
    @include align-center;
    @include justify-space-between;
    z-index: 900;
    &.black {
        background-color: $notblack;
        transition: all .15s ease;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    .logo {
        a {
            display: block;
        }
        img {
            display: block;
            width: 111px;
            height: auto;
        }
    }
    .menu {
        .menu-btn {
            height: 18px;
            width: 24px;
            border-top: 2px solid $white;
            border-bottom: 2px solid $white;
            transition: all .25s ease;
            @include flex;
            @include align-center;
            span {
                position: relative;
                display: block;
                width: 100%;
                height: 2px;
                background: $white;
                transition: background-color .25s ease;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $white;
                    transform: translate(-50%, -50%);
                    transition: transform 0.25s;
                }
            }
        }
        .nav {
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            height: calc(100vh - 60px);
            background: $darkestblue;
            color: $white;
            transform: translateX(-100%);
            transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.14);
            z-index: 800;
            @include flex;
            @include direction-col;
            @include justify-center;
            @include align-center;
            @media(max-width: 767px) {
                padding-top: 20px;
            }
            li {
                width: 100%;
                margin-bottom: $spacing*3;
                text-align: center;
                position: relative;
                a {
                    font-weight: 900;
                    font-size: 24px;
                    color: $white;
                    letter-spacing: 3.43px;
                    text-transform: uppercase;
                }
            }
            #watch {
                // margin-bottom: 0;
            }
            .watchnav {
                width: 100%;
                // margin: $spacing 0;
                background: $white;
                height: 0;
                overflow: hidden;
                transition: all .25s ease;
                position: absolute;
                z-index: 9999;
                li {
                    margin: 0;
                    padding: 0 $spacing;
                    border-bottom: 1px solid #F5F5F5;
                    @include flex;
                    @include align-center;
                    @include justify-space-between;
                    div {
                        color: $black;
                        img {
                            width: 40px;
                        }
                        &.logo {
                            width: 70px;
                        }
                        &.channel-name {
                            width: 100px;
                            white-space: nowrap;
                        }
                    }
                }
                &.active {
                    height: 250px;
                }
            }
        }
    }
    .options {
        @include flex;
        @include align-center;
        .language {
            margin-right: $spacing;
            color: $white;
        }
        .search {
            cursor: pointer;
            img {
                display: block;
            }
        }
        .tickets {
            display: none;
            .btn {
                margin: 0;
                padding: $spacing*1.5 $spacing*2;
                color: $white;
            }
        }
    }
    &.active {
        background-color: $notblack;
        .menu {
            .menu-btn {
                border-color: transparent;
                span {
                    background: transparent;
                    &:before {
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                    &:after {
                        transform: translate(-50%, -50%) rotate(-135deg);
                    }
                }
            }
            .nav {
                transform: translateX(0);
            }
        }
    }
    @media (min-width:768px) {
        height: $spacing*8;
        padding: 0 $spacing*2;
        .logo {
            img {
                width: 149px;
            }
        }
        .menu {
            .nav {
                top: 80px;
                height: calc(100vh - 80px);
            }
        }
        .options {            
            // padding-top: 20px;
            .search {
                margin-right: $spacing;
            }
            .tickets {
                display: inline-block;
            }
        }
    }
    @media (min-width:992px) {
        .menu {
            .menu-btn {
                display: none !important;
            }
            ul {
                list-style: none;
                padding: 0;
            }
            .nav {
                position: relative;
                top: auto;
                left: auto;
                height: auto;
                width: auto;
                background: transparent;
                transform: translateX(0);
                @include direction-row;
                li {
                    width: auto;
                    margin-bottom: 0;
                    text-align: left;
                }
                >li {
                    position: relative;
                    margin-right: 20px;
                    &.desktop {
                        margin-right: 0;
                        cursor: pointer;
                        &:after {
                            content:'';
                            display: inline-block;
                            vertical-align: middle;
                            height: 5px;
                            width: $spacing;
                            background: url(img/icon-caret.svg) no-repeat center;
                            background-size: contain;
                            transform: rotate(0deg);
                            transition: transform .15s ease;
                        }
                    }
                    a {
                        font-size: 14px;
                        letter-spacing: 2px;
                    }
                }
                .subnav {
                    position: absolute;
                    top: 30px;
                    left: 5px;
                    padding: $spacing*2;
                    min-height: 100px;
                    min-width: 200px;
                    background: $notblack;
                    transform: scaleY(0);
                    transform-origin: top;
                    transition: all .25s ease;
                    li {
                        margin-bottom: $spacing;
                    }
                }
                #watch {
                    margin-bottom: 0;
                }
                .watchnav {
                    position: absolute;
                    top: 30px;
                    right: -105px;
                    padding: 0;
                    min-height: 100px;
                    height: auto;
                    width: auto;
                    min-width: 200px;
                    overflow: initial;
                    list-style: none;
                    background: $white;
                    transform: scaleY(0);
                    transform-origin: top;
                    li {
                        height: 60px;
                        color: $black;
                        border-bottom: 1px solid #F5F5F5;
                        @include flex;
                        @include align-center;
                        @include justify-space-between;
                        div {
                            padding: 0 10px;
                            font-size: 14px;
                            line-height: 24px;
                            img {
                                width: auto;
                                max-width: 100%;
                            }
                            .btn {
                                margin: 0 !important;
                            }
                        }
                    }
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -8px;
                        right: calc(50% - 4px);
                        width: 0px;
                        height: 0px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid $white;
                    }
                    &.active {
                        transform: scaleY(1);
                        height: auto;
                    }
                }
                &.active {
                    li {
                        &.desktop {
                            &:after {
                                transform: rotate(180deg)
                            }
                        }
                    }
                    .subnav {
                        transform: scaleY(1);
                        &:before {
                            content:'';
                            display: block;
                            position: absolute;
                            top: -8px;
                            left: 10px;
                            width: 0px;
                            height: 0px;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-bottom: 8px solid $notblack;
                        }
                    }
                }
            }
        }
    }
}