.hero-alt {
    .hero-info {
        height: calc(100vh - 60px);
        width: 100%;
        max-width: 1180px;
        margin: 0 auto $spacing*3;
        @include flex;
        @include direction-col;
        @include align-start;
        @include justify-center;
        z-index: 1;
        .title-text {
            width: 100%;
            margin: 0 0 $spacing;
            text-align: center;
            img {
                max-width: 190px;
                width: 100%;
            }
        }
        .logos {
            width: 100%;
            @include flex;
            @include align-center;
            @include justify-space-between;
            @include direction-col;
            text-align: center;
            margin: 0 auto;
            img {
                max-width: 180px;
                width: 100%;
                height: auto;
                margin: 0 0 $spacing*2 0;

            }
        }
    }
    @media (min-width:768px) {
        .hero-info {
            margin: 0 auto;
            padding: 0 0 $spacing*10 0;
            .title-text {
                margin-bottom: $spacing*10;
                img {
                    max-width: 300px;
                }
            }
            .logos {
                @include direction-row;
                @include align-end;
                img {
                    max-width: 200px;
                    margin: 0;
                }
            }
        }
    }
    @media (min-width:1024px) {
        .hero-info {
            .title-text {
                img {
                    max-width: 240px;
                }
            }
            .logos {
                img {
                    max-width: 250px;
                    &.freeman {
                        max-width: 140px;
                    }
                }
            }
        }
    }
    @media (min-width:1367px) {
        .hero-info {
            .title-text {
                img {
                    max-width: 400px;
                }
            }
            .logos {
                img {
                    max-width: 250px;
                    &.freeman {
                        max-width: 250px;
                    }
                }
            }
        }
    }
    @media (max-height:800px) {
        .hero-info {
            .title-text {
                img {
                    max-height: 400px;
                    width: auto;
                }
            }
        }
    }
}