.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: $spacing;
    padding-top: 80px;
    @include flex;
    @include align-center;
    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: $darkestblue;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: 75%;
            opacity: .8;
        }
    }
    .heading {
        width: 100%;
        margin: 0 auto;
        color: $white;
        z-index: 1;
        .wrap {
            clear: both;
            .caption {
                color: $black;
            }
            .caption, h4 {
                display: inline-block;
                vertical-align: middle;
            }
            h4 {
                margin-left: $spacing;
                font-weight: 500;
                font-size: 12px;
                line-height: 22px;
                text-transform: uppercase;
            }
            h1 {
                font-size: 56px;
                line-height: 46px;
                &:first-of-type {
                    display: inline-block;
                }
                .mach {
                    font-size: 56px;
                    line-height: 46px;
                }
                .vs {
                    position: relative;
                    top: -3px;
                    margin-left: $spacing;
                    vertical-align: text-bottom;
                }
            }
            .vs {
                position: relative;
                top: -3px;
                margin-left: $spacing;
                vertical-align: text-bottom;
            }
            .btn {
                order: 2;
                margin: $spacing*2 0 0 0;
            }
            .watch-btn {
                order: 3;
                margin: $spacing*2 0 0 $spacing*2;
            }
            p.video-text {
                max-width: 380px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            &:nth-of-type(2) {
                max-width: 100%;
                @include flex;
                @include wrap;
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $spacing*20;
        background: -moz-linear-gradient(0deg, #081228 30%, rgba(12,0,51,0.00) 100%);
        background: -webkit-linear-gradient(0deg, #081228 30%, rgba(12,0,51,0.00) 100%);
        background: linear-gradient(0deg, #081228 30%, rgba(12,0,51,0.00) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#081228',GradientType=0 );
    }
    @media (min-width:768px) {
        height: 700px;
        .heading {
            max-width: 620px;
            .wrap {
                p.video-text {
                    -webkit-line-clamp: 3;
                }
                &:nth-of-type(2) {
                    max-width: 350px;
                }
            }
        }
    }
    @media (min-width:992px) {
        .background {
            img {
                object-position: initial;
            }
        }
        .heading {
            max-width: 1180px;
            min-width: 620px;
            .wrap {
                h1 {
                    font-size: 96px;
                    line-height: 76px;
                    .mach {
                        font-size: 96px;
                        line-height: 76px;    
                    }
                    .vs {
                        margin: 0 0 0 0;
                    }
                }
                .vs {
                    margin: 0 0 0 0;
                }
                &:nth-of-type(2) {
                    max-width: 460px;
                    @include direction-row;
                    @include align-center;
                    .btn {
                        order: 1;
                        margin: $spacing $spacing*2 0 0;
                    }
                    .watch-btn {
                        margin: $spacing*2 0 0 0;
                    }
                    p {
                        order: 2;
                    }
                }
            }
        }
    }
}