.main-heading {
    position: relative;
    height: auto;
    width: 100%;
    color: $white;
    .fighter-intro-container {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            height: 100%;
            width: 100%;
        }
    }
    .fighter-intro {
        position: relative;
        height: 100vh;
        min-height: 540px;
        width: 100%;
        padding: $spacing*12 $spacing*2 $spacing*2;
        background: url(img/fighter-bg.svg) no-repeat center;
        background-size: cover;
        z-index: 0;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 200px;
            background-image: linear-gradient(0deg, #081228 30%, rgba(8, 18, 40, 0.00) 100%);
            z-index: -1;
        }
        .social-media {
            position: absolute;
            right: 20px;
            top: 0;
            width: 22px;
            height: 100%;
            z-index: 1;
            .icons {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                @include flex;
                @include direction-col;
                @include justify-center;
                @include align-center;
                li {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin-bottom: $spacing*3.2;
                    a {
                        display: block;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .wrapper {
            position: relative;
            height: 100%;
            max-width: 1180px;
            margin: 0 auto;
            .background {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                z-index: -1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: $spacing*4 0 0 0;
                }
            }
            .info {
                position: relative;
                width: 100%;
                height: 100%;
                @include flex;
                @include align-start;
                @include justify-space-between;
                @include direction-col;
                .info-top {
                    width: 100%;
                    @include flex;
                    @include align-start;
                    @include justify-space-between;
                    .name {
                        h4 {
                            margin-bottom: 5px;
                            font-weight: normal;
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                        h1 {
                            font-size: 45px;
                            line-height: 35px;
                        }
                        span {
                            color: $yellow;
                            text-transform: uppercase;
                            font-weight: normal;
                            font-size: 14px;
                        }
                    }
                    .weight-class {
                        p {
                            display: inline-block;
                            margin-right: 8px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 22px;
                            text-transform: uppercase;
                        }
                        img {
                            display: inline-block;
                            vertical-align: middle;
                            width: 60px;
                            height: auto;
                        }
                    }
                }
                .info-bottom {
                    width: 100%;
                    margin: 0 auto;
                    p {
                        margin-bottom: $spacing*3.2;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    .btn {
                        margin: 0;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
    &.single-fighter {
        .fighter-intro {
            .wrapper {
                .info {
                    @include justify-start;
                    .info-bottom-alt {
                        margin: $spacing*2 0;
                        .wins,
                        .losses {
                            margin: 0 0 $spacing 0;
                            h3 {
                                display: inline-block;
                                height: 60px;
                                width: 60px;
                                margin-bottom: 5px;
                                padding-top: $spacing;
                                border: 1px solid $white;
                                border-radius: 100px;
                                font-size: 34px;
                                line-height: 34px;
                                @include flex;
                                @include align-center;
                                @include justify-center;
                            }
                            p {
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                        .btn {
                            margin: $spacing 0;
                        }
                    }
                }
            }
        }
    }
    @media (min-width:768px) {
        .fighter-intro {
            min-height: 620px;
            height: calc(50vh - 80px);
            padding: $spacing*3 $spacing*8;
            margin: 0 auto;
            .wrapper {
                .background {
                    img {
                        padding: 100px 0 0 0;
                        object-position: right;
                    }
                }
                .info {
                    width: 60%;
                    max-width: 340px;
                    @include justify-center;
                    .info-top {
                        margin-bottom: $spacing*3.2;
                        .name {
                            h4 {
                                font-size: 20px;
                                line-height: 30px;
                            }
                            h1 {
                                font-size: 72px;
                                line-height: 76px;
                            }
                            span {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                        .weight-class {
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                    .info-bottom {
                        .btn {
                            width: auto;
                        }
                    }
                }
            }
        }
        &.single-fighter {
            .fighter-intro {
                .wrapper {
                    .info {
                        margin-top: $spacing*3;
                        @include justify-center;
                        .info-top {
                            margin-bottom: $spacing;
                        }
                        .info-bottom-alt {
                            margin-top: $spacing;
                            .wins,
                            .losses {
                                display: inline-block;
                                margin-right: $spacing;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width:992px) {
        .fighter-intro {
            min-height: 720px;
            height: calc(70vh - 80px);
            overflow: hidden;
            padding: 0;
            .wrapper {
                .background {
                    img {
                        width: 125%;
                        height: 125%;
                        padding: 110px 0 0 0;
                    }
                }
                .info {
                    max-width: 600px;
                    .info-top {
                        .name {
                            h4 {
                                margin-bottom: $spacing*2.4;
                                font-weight: 300;
                                font-size: 34px;
                            }
                            h1 {
                                font-size: 96px;
                                line-height: 76px;
                            }
                            span {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bx-wrapper {
        height: 100%;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 transparent;
        -webkit-box-shadow: 0 0 0 transparent;
        .bx-viewport {
            height: 100% !important;
        }
        .bx-pager {
            display: none;
        }
        .bx-prev,
        .bx-next {
            top: 77px;
            width: 50%;
            height: 40px;
            background: rgba(5, 11, 24, 0.60);
            font-weight: 900;
            font-size: 14px;
            color: $white;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: opacity .15s ease;
            @include flex;
            @include align-center;
            z-index: 20;
            img {
                width: 6px;
            }
            @media (min-width: 768px) {
                top: 97px;
            }
        }
        .bx-prev {
            position: fixed;
            left: 0;
            padding-left: $spacing*2;
            @include justify-start;
            img {
                transform: rotate(180deg);
                margin: 0 8px 0 0;
            }
        }
        .bx-next {
            position: fixed;
            right: 0;
            padding-right: $spacing*2;
            @include justify-end;
            img {
                order: 2;
                margin: 0 0 0 50px;
            }
        }
    }
}