.image-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    visibility: hidden;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($black,.2); 
    }
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: $spacing*3.2;
        cursor: pointer;
        z-index: 900;
        svg {
            g {
                stroke: $white;
            }
        }
    }
    .main-content {
        max-width: 1180px;
        padding: 10px;
        margin: 0 auto;
        >.bx-wrapper {
            margin: $spacing*13.1 0 0;
        }
        .bx-wrapper {
            background: transparent;
            border: none;
            -moz-box-shadow: 0 0 0 transparent;
            -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
        }
        .bx-prev {
            transform: rotate(180deg)
        }
        .slider-nav {
            .active {
                img {
                    border: 2px solid #3B71DA;
                }
            }
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }
    }
    &.active {
        visibility: visible;
    }
}