.fix {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
.popup-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 900;
    visibility: hidden;
    transition: visibility .15s ease;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparentize($black, .2);
        opacity: 0;
        transition: opacity .15s ease;
    }
    .main-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: $spacing;
        background: $white;
        opacity: 0;
        transition: opacity .15s ease;
        @include flex;
        @include justify-center;
        @include align-center;
        .close-btn {
            position: fixed;
            top: 0;
            right: 0;
            padding: $spacing*2;
        }
        .container {
            h2, p {
                text-align: center;
            }
            h3 {
                display: block;
                text-align: center;
                margin-bottom: 20px;
            }
            ul.challenge-share-links {                
                display: block;
                text-align: center;
                padding: 0;
                margin-bottom: 30px;
                li {
                    display: inline-block;
                    margin-right: 10px;
                    a {
                        display: block;
                        width: 30px;
                        height: 30px;
                        img {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
            h2 {
                font-weight: 300;
                font-size: 24px;
                text-transform: uppercase;
            }
            p {
                margin: 16px 0 40px 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
            }
            input[type=date],
            input[type=text],
            input[type=email] {
                display: block;
                font-weight: normal;
                font-size: 16px;
                color: $black;
                line-height: 24px;
                height: 32px;
                width: 100%;                
                border-bottom: 2px solid $black;
            }
            input[type=checkbox] {
                height: 20px;
                width: 20px;
                margin-right: 12px;
                background: $darkblue;
                -webkit-clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);
                clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);     
                &:checked {
                    background-image: url(img/icon-single-check.svg);
                    background-color: $darkblue;
                    background-repeat: no-repeat;
                    background-size: 80%;
                    background-position: center;
                }
            }
            .check-wrap {
                @include flex;
                @include align-start;
                p {
                    margin: 0;
                    text-align: left;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            .btn {
                display: block;
                height: 60px;
                width: 100%;
                margin: 40px auto 0;
                padding: 0;
            }
            &.hidden {
                display: none;
            }
            .wpcf7-form-control-wrap {
                margin-bottom: calc(22px + 17px);
                display: block;
            }
        }
    }
    @media (min-width:768px) {
        @include flex;
        @include justify-center;
        @include align-center;
        .main-content {
            width: 700px;
            height: auto;
            display: initial !important;
            padding: 0;
            .close-btn {
                svg {
                    g {
                        stroke: $white;
                    }
                }
            }
            .container {
                padding: 56px 120px 20px;
                .btn {
                    width: 220px;
                }
            }
        }
    }
    &.active {
        visibility: visible;
        .overlay {
            opacity: 1;
        }
        .main-content {
            opacity: 1;
        }
    }
}