.search-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: hidden;
    transition: visibility .35s ease;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($black, .2);
        opacity: 0;
        transition: opacity .35s ease;
    }
    .main-content {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $white;
        overflow: scroll;
        transform: translateX(100%);
        transition: transform .35s ease;
        .search-section {
            position: relative;
            min-height: 284px;
            padding: 0 $spacing*3.2;
            background: transparentize(#143068, .9);
            @include flex;
            @include justify-center;
            @include direction-col;
            .close-btn {
                position: absolute;
                top: $spacing*1.6;
                right: $spacing*1.6;
                cursor: pointer;
            }
            .title {
                margin-bottom: $spacing*3.2;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
            }
            .input-wrapper {
                margin-bottom: $spacing*3.2;
                input {
                    padding: 0 65px 0 20px;
                }
                .btn {
                    height: 48px;
                    width: 48px;
                    svg {
                        margin: 0;
                        g {
                            stroke: $white;
                        }
                    }
                }
            }
            .result-num {
                font-weight: normal;
                font-size: 16px;
                color: #626262;
                line-height: 26px;
            }
        }
        .results {
            padding: $spacing*6.4 $spacing 0;
            .result-container {
                padding: 0;
                list-style: none;
                li {
                    margin-bottom: $spacing*3.2;
                    .image {
                        position: relative;
                        width: 100%;
                        height: 228px;
                        margin-bottom: $spacing*1.6;
                        border-top: 2px solid $yellow;
                        -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
                        clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .btn {
                            position: absolute;
                            bottom: $spacing;
                            left: $spacing;
                        }
                    }
                    .info {
                        .title {
                            margin-bottom: 8px;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 30px;
                            text-transform: uppercase;
                        }
                        .excerpt {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        @media (min-width:768px) {
            width: 80%;
            max-width: 640px;
            .search-section {
                padding: 0 $spacing*7.4;
            }
            .results {
                padding: $spacing*6.4 $spacing*7.4 0;
                .result-container {
                    li {
                        a {
                            @include flex;
                            .image {
                                width: 45%;
                                height: 144px;
                                margin-right: $spacing*2.4;
                            }
                            .info {
                                width: calc(55% - 24px);
                            }
                        }
                    }
                }
            }
        }
        @media (min-width:992px) {
            width: 50%;
            max-width: 720px;
            .search-section {
                padding: 0 $spacing*10.3;
            }
        }
    }
    &.active {
        visibility: visible;
        .overlay {
            opacity: 1;
        }
        .main-content {
            transform: translateX(0);
        }
    }
}