.content-slider-wrapper {
    .card {
        width: 220px;
        height: 140px;
        margin: 0 5px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .bx-wrapper {
        margin-bottom: 0;
        background: transparent;
        border: none;
        box-shadow: 0 0 0 transparent;
        width: 100%;
        max-width: 100% !important;
        .bx-viewport {
            min-height: auto;
            width: 100%;
        }
        .bx-pager {
            display: none;
        }
        .bx-controls {
            .bx-next,
            .bx-prev {
                top: 0;
                height: 140px;
                width: 40px;
                margin: 0;
                z-index: 0;
                @include flex;
                @include align-center;
                &.disabled {
                    display: none !important;
                }
            }
            .bx-next {
                right: 0;
                @include justify-end;
                background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(8, 18, 40, 1) 100%);
                background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(8, 18, 40, 1) 100%);
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(8, 18, 40, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#081228', GradientType=1);
            }
            .bx-prev {
                left: 0;
                @include justify-start;
                background: -moz-linear-gradient(left, rgba(8, 18, 40, 1) 0%, rgba(0, 0, 0, 0) 100%);
                background: -webkit-linear-gradient(left, rgba(8, 18, 40, 1) 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to right, rgba(8, 18, 40, 1) 0%, rgba(0, 0, 0, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081228', endColorstr='#00000000', GradientType=1);
                img {
                    transform: rotate(180deg);
                }
            }
            img {
                display: block;
                width: 16px;
                height: auto;
            }
        }
    }
}