.stats-card {
    position: relative;
    width: 100%;
    min-height: 150px;
    margin: 10px 0;
    overflow: hidden;
    background: url(img/stat-mask.png) no-repeat center;
    background-size: cover;
    .image-left {
        position: absolute;
        top: 0;
        left: -55px;
        height: 100%;
        transform: scale(1);
        transition: transform .5s ease;
        img {
            width: 100%;
            height: 100%;
            max-width: 140px;
            object-fit: cover;
        }
    }
    .image-right {
        position: absolute;
        right: -55px;
        top: 0;
        height: 100%;
        transform: scale(1);
        transition: transform .5s ease;
        img {
            width: 100%;
            height: 100%;
            max-width: 140px;
            object-fit: cover;
        }
    }
    .stats {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;
        color: $white;
        @include flex;
        @include wrap;
        @include align-end;
        @include justify-center;
        .name {
            &:first-of-type {
                text-align: right;
            }
            h3 {
                font-size: 24px;
                line-height: 15px;
            }
            p {
                margin-bottom: 10px;
                text-transform: uppercase;
            }
        }
        .vs {
            margin: 0 20px;
            .text {
                font-size: 24px !important;
            }
            &:before, &:after {
                height: 4px;
            }
            &:after {
                margin-top: -10px;
            }
        }
        .info {
            width: 100%;
            margin-top: 16px;
            text-align: center;
        }
    }
    &:hover {
        .image-left, 
        .image-right {
            transform: scale(1.1);
            
        }
    }

    @media(min-width:768px) {
        width: calc(50% - 8px);
        display: inline-block;
        &:nth-of-type(even) {
            margin: 10px 5px 0 0;
        }
        &:nth-of-type(odd) {
            margin: 10px 0 0 5px;
        }
        &:nth-of-type(1) {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }

    // @media (min-width:992px) {
    //     max-height: 150px;
    //     &:nth-of-type(1) {
    //         width: calc(66.666% - 10px);
    //         margin: 32px 0 0 10px;
    //     }
    //     &:nth-of-type(2) {
    //         width: calc(33.333% - 15px);
    //         margin: 10px 5px 0 10px;
    //     }
    //     &:nth-of-type(3) {
    //         width: calc(33.333% - 10px);
    //         margin: 10px 0 0 5px;
    //     }
    //     &:nth-of-type(4) {
    //         width: calc(33.333% - 5px);
    //         margin: 10px 5px 0 0;
    //     }
    //     &:nth-of-type(5) {
    //         width: calc(33.333% - 15px);
    //         margin: 10px 5px 0 5px;
    //     }
    //     &:nth-of-type(6) {
    //         width: calc(33.333% - 10px);
    //         margin: 10px 0 0 5px;
    //     }
    //     &:nth-of-type(7) {
    //         width: calc(33.333% - 5px);
    //         margin: 10px 5px 0 0;
    //     }
    //     &:nth-of-type(8) {
    //         width: calc(33.333% - 15px);
    //         margin: 10px 5px 0 5px;
    //     }
    //     &:nth-of-type(9) {
    //         width: calc(33.333% - 10px);
    //         margin: 10px 0 0 5px;
    //     }
    //     &:hover {
    //         .image-left, 
    //         .image-right {
    //             transform: scale(1.1);
                
    //         }
    //     }
    // }
}

