.blocker {
    padding: 0;
    z-index: 900;
    background-color: rgba(0,0,0,0.8);
}
.modal {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 0;
    background: transparent;
    a {
        &.close-modal {
            display: none;
        }
    }
    .close-btn {
        text-align: right;
        svg {
            g {
                stroke: $white;
            }
        }
    }
    .stats-container {
        color: $white;
        .wrapper {
            max-width: 900px;
            margin: 0 auto;
            .tab-content {
                padding: $spacing*1.6 0;
                font-size: 14px;
                line-height: 24px;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    tr {
                        border-bottom: 1px solid rgba(255, 255, 255, .2);
                        td {
                            padding: $spacing*1.5 $spacing;
                            font-size: 14px;
                            line-height: 24px;
                            &:nth-child(2n+2) {
                                text-transform: uppercase;
                                text-align: center;
                                font-weight: 700;
                            }
                            &:nth-child(3n+3) {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}