.subscribe {
    background: $darkerblue;
    padding: $spacing*6 0;
    float: left;
    width: 100%;
    clear: both;
    .wrapper {
        padding: $spacing;
        text-align: center;
        h3 {
            margin-bottom: $spacing*3.2;            
            color: $white;
        }
        @media (min-width:768px) {
            max-width: 460px;
            margin: 0 auto;
        }
    }
}